.intro {
    position: relative;

    .slider {
        &__item {
            position: relative;
            height: 491px;

            .wrapper {
                display: flex;
                height: 100%;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 60px;
            }

            .image {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content {
                width: 100%;
                max-width: 580px;
                background-color: fade(@blue, 40%);
                border: 3px solid @white;
                padding: 48px;

                h2 {
                    color: @white;
                    margin: 0 0 31px;
                    font-size: 50px;
                    font-weight: 700;
                }

                p {
                    color: @white;
                    margin: 0;
                    font-size: 20px;
                    line-height: 1.5;
                }
            }
        }
    }

    .btns {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        &__wrap {
            display: flex;
            justify-content: flex-end;
        
            div {
                background-color: @green;
                padding: 0;
                width: 54px;
                min-width: 54px;
                height: 50px;
                margin-left: -1px;
                cursor: pointer;
            }
        }

        .slider__prev {
            transform: rotate(180deg);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 3px;

            svg {
                width: 9px;
                height: 15px;
                fill: @white;
            }
        }

        .slider__next {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 9px;
                height: 15px;
                fill: @white;
            }
        }
        
        .slider__pause {
            position: relative;

            span {
                position: absolute;
                height: 15px;
                width: 2px;
                background-color: @white;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                transition: 0.3s;

                &:nth-child(1) {
                    right: 6px;
                }

                &:nth-child(2) {
                    transform: rotate(60deg);
                    left: 7px;
                    top: 7px;
                }

                &:nth-child(3) {
                    transform: rotate(-60deg);
                    left: 7px;
                    bottom: 7px;
                    opacity: 1;
                }
            }

            &.active {

                span {
                    &:nth-child(1) {
                        right: 6px;
                    }
    
                    &:nth-child(2) {
                        left: 6px;
                        top: 0px;
                        transform: rotate(0);
                    }

                    &:nth-child(3) {
                        opacity: 0;
                        transform: rotate(0);
                        left: 6px;
                        bottom: 0;
                    }
                }
                
            }
        }
    }
}

.page-intro {
    position: relative;
    padding: 44px 0 46px;

    .wrapper {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        width: 100%;
        max-width: 700px;
        background-color: fade(@blue, 40%);
        border: 3px solid @white;
        padding: 48px 60px 38px 48px;

        h2 {
            color: @white;
            margin: 0 0 11px;
            font-size: 50px;
            font-weight: 700;
        }

        p {
            color: @white;
            margin: 0;
            font-size: 20px;
            line-height: 1.5;
        }

        .btn {
            background-color: @green;
            position: relative;
            color: @white;
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            padding: 12px 16px;
            margin-top: 19px;
            
            svg {
                width: 20px;
                height: 14px;
                fill: @white;
                margin-left: 9px;
                vertical-align: middle;
                display: inline-block;
                transform: translateX(0);
                transition: 0.3s;
            }

            &:hover {
                svg {
                    transform: translateX(5px);
                }
            }
        }
    }
}

.shop-detail-intro {
    position: relative;

    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        padding: 100px 0 190px;
        width: 100%;
        position: relative;

        h2 {
            color: @white;
            margin: 0 0 11px;
            font-size: 70px;
            font-weight: 700;
        }

        .cat {
            background-color: @green;
            color: @white;
            font-weight: 700;
            font-size: 12px;
            border-radius: 100px;
            padding: 4px 10px;
            display: inline-block;
        }

        .btns {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;

            &__item {
                color: @white;
                position: relative;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 12px 18px 13px 52px;
                margin-left: 5px;
                
                svg {
                    position: absolute;
                    left: 12px;
                    top: 8px;
                    width: 24px;
                    height: 24px;
                    fill: @white;
                }

                &_green {
                    background-color: @green;
                }

                &_blue {
                    background-color: @blue;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .intro {
       .slider {
            &__item {
                height: 400px;

                .content {
                    padding: 30px;
                    
                    h2 {
                        font-size: 35px;
                        margin: 0 0 20px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .page-intro {
        .content {
            padding: 30px;

            h2 {
                font-size: 35px;
                margin: 0 0 20px;
            }

            p {
                font-size: 15px;
            }

            .btn {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .intro {
        .slider {

            &__item {
                height: 350px;

                .wrapper {
                    padding-top: 40px;
                    align-items: flex-start;
                }

                .content {
                    h2 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 13px;
                    }
                }
            }
            
            
        }
    }

    .page-intro {
        padding: 40px 0;        

        .content {

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 13px;
            }

            .btn {
                font-size: 12px;
            }
        }
    }
}