.contacts {
    .page-title {
        margin: 0 0 28px;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding-right: 165px;

        &__item {
            margin-bottom: 38px;

            .name {
                color: @green;
                font-size: 15px;
                font-weight: 700;
                position: relative;
                margin: 0;
                padding-left: 40px;
                line-height: 1.5;

                svg {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 1px;
                    top: -1px;
                    fill: @green;
                }
            }

            .items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 40px;
                margin-top: 6px;

                p,
                a {
                    margin: 0;
                    line-height: 1.5;
                    font-size: 15px;
                    font-weight: 300;
                }

                a {
                    &:not(:last-of-type) {
                        margin-bottom: 8px;
                    }
                }
            }
        }

        .icons {
            display: flex;
            padding-left: 34px;
            margin-top: 27px;

            a {
                &:not(:last-of-type) {
                    margin-right: -3px;
                }
            }

            svg {
                width: 30px;
                height: 30px;
                fill: @blue;
            }
        }
    }

    .media {
        width: calc(100% - 400px);
        position: relative;

        .btns {
            position: absolute;
            left: 20px;
            top: 21px;
            z-index: 2;

            &__item {
                background-color: @blue;
                color: @white;
                font-size: 14px;
                font-weight: 500;
                padding: 13px 23px 13px 45px;
                position: relative;
                border-radius: 100px;
                display: inline-block;
                margin-right: 4px;
                margin-bottom: 10px;

                svg {
                    position: absolute;
                    left: 15px;
                    top: 9px;
                    width: 24px;
                    height: 24px;
                    fill: @white;
                }
            }
        }

        .map {
            width: 100%;
            height: 580px;    
        }
    }

    .descr {
        margin-top: 57px;
        padding: 60px 0 78px;

        .block-title {
            font-size: 20px;
        }

        .wysiwyg {
            p {
                line-height: 1.7;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .contacts {
        .content {
            padding-right: 80px;
        }
    }
}

@media screen and (max-width: 992px) {
    .contacts {
        .content {
            width: 350px;
            padding-right: 40px;
        }

        .media {
            width: calc(100% - 350px);

            .map {
                width: 100%;
                height: 400px;    
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        .content {
            width: 100%;
            padding-right: 0;
            order: 2;
        }

        .media {
            order: 1;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}