.levels {
    &__wrap {
        position: relative;
        padding-bottom: 97px;
    }

    .info {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background-color: @white;
        padding: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        //width: 150px;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 28px;
            border: 8px solid transparent; 
            border-left: 8px solid @white; 
            border-top: 8px solid @white;
            pointer-events: none;
        }
          

        &__wrap {
            display: flex;
            align-items: center;
        }

        .image {
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                display: block;
            }
        }

        .text {
            padding-left: 12px;
        }

        h3 {
            margin: 0 0 5px;
            font-size: 16px;
            font-weight: 700;
        }

        p {
            margin: 0;
            font-size: 14px;
            font-weight: 400;
        }

        .link {
            display: none!important;
            margin-left: auto;
            font-size: 14px;
            color: @green;
        }
    }

    .tabs {
        display: flex;

        &__item {
            border: 2px solid @green;
            color: @white;
            font-size: 14px;
            font-weight: 500;
            color: @text;
            padding: 11px 20px;
            margin-right: 5px;
            background-color: @white;
            cursor: pointer;
            border-radius: 100px;

            &.active {
                color: @white;
                background-color: @green;
            }
        }
    }

    .markers {
        position: absolute;
        left: 0;
        top: 85px;

        &__item {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            padding-left: 38px;
            margin-bottom: 21px;

            &:before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                border: 2px solid @text;
                border-radius: 5px;
                left: 0;
                top: -7px;
            }

            &_free {
                &:before {
                    background-color: #cbedeb;
                }
            }

            &_rented {
                &:before {
                    background-color: #f3dddd;
                }
            }
        }
    }

    .dots {
        display: flex;
        flex-direction: column;
        align-self: center;
        position: absolute;
        right: 0;
        top: 13px;

        p {
            margin: 0 0 43px;
            font-size: 14px;
            font-weight: 500;
        }

        &__item {
            background-color: @white;
            font-size: 18px;
            font-weight: 700;
            color: @text;
            border: 2px solid @green;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            text-align: center;
            line-height: 2;
            margin-bottom: 10px;
            cursor: pointer;
            transition: 0.3s;

            &.active {
                background-color: @green;
                color: @white;
            }
        }
    }

    .content {
        padding-right: 130px;
        &__item {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .level {
        display: none;

        &.active {
            display: block;
        }
    }

    svg {
        .free {
            fill: #cbedeb;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                fill: #2fb7ad;
            }
        }

        .disabled {
            fill: #F3EE96;
        }

        .rented {
            fill: #f3dddd;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }

        polygon:not(.rented, .disabled, .free),
        rect:not(.rented, .disabled, .free),
        path:not(.rented, .disabled, .free) {
            fill: #DBDBDB;
        }

        .lines,
        #lines,
        .line,
        #line {
            & * {
                fill: @black;
            }
        }

    }
}

@media screen and (max-width: 992px) {
    .levels {
        .info {
            position: absolute;
            bottom: 0;
            left: -10px;
            top: auto;
            display: none;
            width: calc(100% + 20px);

            &:after {
                display: none;
            }

            .link {
                display: block;
            }
        }

        .content {
            padding-right: 80px;
        }
    }
}

@media screen and (max-width: 768px) {
    .levels {
        .markers {
            left: auto;
            right: 0;
            top: 13px;
        }
        
        .dots {
            margin-top: 20px;
            flex-direction: row-reverse;
            justify-content: flex-end;
            flex-wrap: wrap;
            position: static;

            p {
                width: 100%;
                margin: 0 0 10px;
            }

            &__item {
                margin-right: 5px;
            }
        }

        .content {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .levels {
        .tabs {
            &__item {
                padding: 11px 18px;
            }
        }

        .markers {
            position: static;
            margin-top: 20px;
        }

        .dots {
            &__item {
                font-size: 16px;
                height: 35px;
                width: 35px;
            }
        }
    }
}