.news {
    .news-list {
        
    }

    .descr {
        padding: 59px 0 75px;

        .block-title {
            font-size: 20px;
        }

        .wysiwyg {
            p {
                line-height: 1.8;
            }
        }
    }
}