.shop-list {

    .wysiwyg {
        margin: 48px 0 23px;
        max-width: 960px;

        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.8;
        }

        a {
            color: @green;
            text-decoration: underline;
        }

        ul {
            list-style: none;
            padding: 0;
            font-weight: 300;

            li {
                margin-bottom: 10px;
                position: relative;
                line-height: 1.8;
                padding-left: 20px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 11px;
                    width: 5px;
                    height: 5px;
                    border-radius: 100px;
                    background-color: @green;
                }
            }
        }

        ol {
            list-style: none;
            padding: 0;
            counter-reset: item;
            font-weight: 300;

            li {
                counter-increment: item;
                margin-bottom: 10px;
                padding-left: 20px;
                line-height: 1.8;
                position: relative;

                &:before {
                    content: counter(item)".";
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 36px -10px 0;
    }

    &__item {
        width: calc((100% / 4) - 20px);
        margin: 0 10px 20px;
        border: 1px solid #e9ebf0;
        position: relative;
        height: 280px;

        &:hover {
            .image {
                img {
                    filter: grayscale(0);
                }
            }
        }

        .image {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px 20px;
            
            img {
                display: block;
                max-height: 100%;
                filter: grayscale(1);
                transition: 0.3s;
            }
        }

        .content {
            position: absolute;
            bottom: 18px;
            left: 18px;

            .name {
                margin: 0 0 5px;
                font-weight: 700;
                color: @green;
                font-size: 20px;
            }

            span {
                background-color: @green;
                color: @white;
                font-weight: 700;
                font-size: 12px;
                border-radius: 100px;
                padding: 4px 10px;
                display: inline-block;
            }
        }
    }

    .news-list {
        padding: 60px 0 72px;

        .block-title {
            margin: 0 0 26px;
        }

        .slider {
            margin-left: -10px;
            margin-right: -10px;
    
            .news-list__item {
                margin: 0 10px;
            }
    
            .slick-arrow {
                position: absolute;
                top: calc(50% - 59px);
                border: 4px solid @white;
                background: @green;
                padding: 0 0 0 3px;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                z-index: 2;
    
                svg {
                    width: 9px;
                    height: 15px;
                    fill: @white;
                }
            }
    
            &__prev {
                left: -10px;
                transform: rotate(180deg);
            }
    
            &__next {
                right: -10px;
            }
        }
    }

    .descr {
        padding: 59px 0 75px;

        .block-title {
            font-size: 20px;
        }

        .wysiwyg {
            margin: 0;
            max-width: none;
            
            p {
                line-height: 1.8;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .shop-list {
        &__item {
            height: 220px;
        }

        .news-list {
            .slider {
                &__prev {
                    left: 0;
                }
        
                &__next {
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-list {
        &__item {
            width: calc((100% / 3) - 20px);
        }
    }
}

@media screen and (max-width: 576px) {
    .shop-list {
        &__item {
            width: calc((100% / 2) - 20px);
        }
    }
}

@media screen and (max-width: 420px) {
    .shop-list {
        &__item {
            width: calc((100% / 1) - 20px);
        }
    }
}