.shop-detail {
    .info {
        border-bottom: 1px solid #e8e8e8;
        padding: 30px 0;

        &__wrap {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding-left: 280px;
        }

        .logo {
            position: absolute;
            bottom: -30px;
            transform: translateY(40px);
            left: 0;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            width: 280px;
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px 20px;
            
            img {
                display: block;
                max-height: 100%;
            }
        }

        .icons {
            display: flex;
            align-items: center;
            margin-left: 50px;
            margin-right: auto;

            a {
                background-color: @green;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:not(:last-of-type) {
                    margin-right: 5px;
                }

                svg {
                    fill: @white;

                    &.vk {
                        width: 22px;
                        height: 15px;
                    }

                    &.fb {
                        width: 13px;
                        height: 24px;
                    }

                    &.instagram {
                        height: 22px;
                        width: 22px;
                        transform: translate(2px, -2px);
                    }
                }
            }
        }

        .contact {
            display: flex;
            align-items: center;

            &:not(:last-of-type) {
                margin-right: 30px;
            }

            .icon {
                width: 40px;
                min-width: 40px;
                height: 40px;
                border-radius: 100px;
                background-color: @green;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;

                svg {
                    width: 24px;
                    height: 24px;
                    fill: @white;
                }
            }

            a,
            p {
                font-size: 15px;
                margin: 0;
                line-height: 1;
                font-weight: 700;
            }
        }
    }

    .descr {
        padding: 79px 0;

        &__wrap {
            display: flex;

            .content {
                width: 40%;
                padding-right: 25px;
                padding-top: 9px;

                .link {
                    color: @green;
                    font-size: 12px;
                    font-weight: 500;

                    svg {
                        display: inline-block;
                        vertical-align: middle;
                        width: 20px;
                        height: 14px;
                        fill: @green;
                        transform: translateX(0);
                        transition: 0.3s;
                        margin-left: 7px;
                    }

                    &:hover {
                        svg {
                            transform: translateX(5px);
                        }
                    }
                }
            }

            .wysiwyg {
                margin-bottom: 41px;

                p {
                    line-height: 1.8;
                    margin: 0;
                }
            }

            .gallery {
                width: 56%;
                margin-left: auto;
                padding: 0;
            }

            .slider {
                width: 100%;
                max-width: 540px;
                margin: 0 auto;
                position: relative;
                border: 3px solid @green;
                padding: 12px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

                &:before {
                    content: '';
                    position: absolute;
                    left: -15px;
                    top: 7px;
                    bottom: 7px;
                    width: 15px;
                    margin: auto;
                    border: 3px solid @green;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: -15px;
                    top: 7px;
                    bottom: 7px;
                    width: 15px;
                    margin: auto;
                    border: 3px solid @green;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                }

                &__item {
                    height: 320px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .slick-arrow {
                    position: absolute;
                    top: calc(50% - 20px);
                    border: none;
                    background: @green;
                    padding: 0 0 0 3px;
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    z-index: 2;
        
                    svg {
                        width: 9px;
                        height: 15px;
                        fill: @white;
                    }
                }
        
                &__prev {
                    left: -63px;
                    transform: rotate(180deg);
                }
        
                &__next {
                    right: -63px;
                }
            }
        }
    }

    .news-list {
        padding: 61px 0 10px;

        .block-title {
            margin: 0 0 25px;
        }
    }

    .similar {
        padding: 59px 0 78px;

        .block-title {
            font-size: 20px;
            margin: 0 0 35px;
        }

        .slider {
            margin-left: -10px;
            margin-right: -10px;

            &__item {
                margin: 0 10px 20px;
                border: 1px solid #e9ebf0;
                position: relative;
                height: 280px;

                &:hover {
                    .image {
                        img {
                            filter: grayscale(0);
                        }
                    }
                }

                .image {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 70px 20px;
                    
                    img {
                        display: block;
                        max-height: 100%;
                        filter: grayscale(1);
                        transition: 0.3s;
                    }
                }

                .content {
                    position: absolute;
                    bottom: 18px;
                    left: 18px;

                    .name {
                        margin: 0 0 5px;
                        font-weight: 700;
                        color: @green;
                        font-size: 20px;
                    }

                    span {
                        background-color: @green;
                        color: @white;
                        font-weight: 700;
                        font-size: 12px;
                        border-radius: 100px;
                        padding: 4px 10px;
                        display: inline-block;
                    }
                }
            }

            .slick-arrow {
                position: absolute;
                top: calc(50% - 25px);
                border: none;
                background: @green;
                padding: 0 0 0 3px;
                width: 32px;
                height: 32px;
                border-radius: 100px;
                z-index: 2;
    
                svg {
                    width: 9px;
                    height: 15px;
                    fill: @white;
                }
            }
    
            &__prev {
                left: -5px;
                transform: rotate(180deg);
            }
    
            &__next {
                right: -5px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .shop-detail {
        .info {
            &__wrap {
                padding-left: 230px;
            }
    
            .logo {
                width: 230px;
                height: 230px;
            }

            .contact {
                a,
                p {
                    font-size: 13px;
                }
            }
        }

        .descr {
            .gallery {
                padding-right: 10px;
            }

            .slider {
                &__prev {
                    left: -10px;
                }
        
                &__next {
                    right: -10px;
                }
            }
        }

        .similar {
            .slider {

                &__item {
                    height: 240px;
                }
                
                &__prev {
                    left: 0;
                }
        
                &__next {
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .shop-detail {
        .info {
            padding: 20px 0;

            &__wrap {
                flex-direction: column;
                align-items: flex-start;
                padding-left: 250px;
            }

            .logo {
                bottom: 0;
            }

            .icons {
                width: 100%;
                margin-bottom: 10px;
                margin-left: 0;
            }

            .contact {    
                margin-left: 0;
                margin-right: 0;
             
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }
        }

        .descr {
            padding: 40px 0 60px;
            .content {
                width: 50%;
            }

            .gallery { 
                width: 45%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .shop-detail {

        .info {
            &__wrap {
                padding-left: 0;
            }

            .logo {
               display: none;
            }
        }

        .descr {
            &__wrap {
                flex-wrap: wrap;
            }

            .content {
                width: 100%;
                margin-bottom: 40px;
            }

            .gallery { 
                width: 100%;
                padding-right: 0;
            }

            .slider {
                max-width: 430px;
            }
        }

    }
}

@media screen and (max-width: 576px) {
    .shop-detail { 
        .descr {
            .slider {
                max-width: 250px;

                &__item {
                    height: 220px;
                }

                &__prev {
                    left: -28px;
                }

                &__next {
                    right: -28px;
                }
            }
        }
    }
}