.footer {
    background-color: @blue;

    &__top {
        display: flex;
        align-items: center;
        padding: 54px 0 38px;
        border-bottom: 5px solid #009851;
    }

    .logo {
        svg {
            width: 255px;
            height: 36px;
        }
    }

    .icons {
        margin-left: auto;
        display: flex;
        align-items: center;

        &__item {
            margin-left: -3px;
            svg {
                width: 30px;
                height: 30px;
                fill: @white;
            }
        }
    }

    &__bottom {
        display: flex;
        color: @white;
        padding: 45px 0 68px;
    }

    .address {
        max-width: 200px;
        .name {
            font-weight: 700;
            font-size: 15px;
            margin: 0 0 17px;
        }

        &__item {

            &:first-of-type {
                margin-bottom: 14px;
            }
            p {
                font-size: 15px;
                font-weight: 400;
                margin: 0 0 8px;
                line-height: 1.3;
            }
        }
    }

    .menu {
        margin: 0 0 0 101px;
        list-style: none;
        padding: 0;
        font-size: 15px;
        column-count: 2;
        column-gap: 144px;

        li {
            margin-bottom: 12px;
        }
    }

    .contacts {
        text-align: right;
        margin-left: auto;

        .phone {
            display: flex;
            flex-direction: column;
            margin-bottom: 45px;

            a {
                font-size: 20px;
                font-weight: 500;

                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }
        }

        .mail {
            font-size: 15px;
        }
    }
}

.rights {
    padding: 29px 0;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        font-size: 11px;
        font-weight: 300;
        display: flex;
        align-items: center;

        .copyright {
            color: @blue;
            font-size: 25px;
            margin-right: 5px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        &__top {
            padding: 30px 0 25px;
        }

        .logo {
            svg {
                width: 200px;
                height: 28px;
            }
        }

        &__bottom {
            padding: 30px 0 40px;
        }

        .address {
            &__item {
                p {
                    font-size: 13px;
                }
            }
        }

        .menu {
            font-size: 13px;
        }

        .contacts {
            .phone {
                a {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        .menu {
            column-gap: 20px;
            margin: 0 0 0 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__bottom {
            flex-wrap: wrap;
        }

        .address {
            order: 1;
            width: 50%;
            max-width: none;
        }

        .menu {
            order: 3;
            width: 100%;
            column-count: 1;
            margin: 20px 0 0;
        }

        .contacts {
            order: 2;
            width: 50%;

            .phone {
                margin-bottom: 32px;
            }
        }
    }

    .rights {
        &__wrap {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .footer {
        .address {
            order: 1;
            width: 100%;
        }

        .menu {
            order: 3;
            width: 100%;
        }

        .contacts {
            order: 2;
            width: 100%;
            text-align: left;
            margin: 20px 0 0;

            .phone {
                margin-bottom: 10px;
            }
        }
    }
}